<header class="main-header">
    <a ui-sref="dashboard" class="logo">
        <span class="logo-lg">VokabelChef</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle</span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li back-button>
                    <a>
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
