<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Alle Kapitel</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Ursprungssprache</th>

                        </tr>
                        <tr *ngFor="#chapter of chapters" class="respond-click">
                            <td>{{chapter.Name}}</td>
                            <td>{{chapter.NativeLanguage}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
